= link_to "Back to Discussions", project_discussions_path(@project), class: "btn btn-primary"
.clearfix
.well.col-md-8.col-md-offset-2
  %h1= @discussion.title
  %p= simple_format @discussion.description
  = link_to "Edit", edit_project_discussion_path(@project, @discussion), class: "btn btn-info getaway"
  = button_to "Destroy",  [@project, @discussion], method: :delete, data: { confirm: "Are you sure you want to delete this discussion?" }, class: "btn btn-danger"
  %hr/
  - @discussion.comments.each do |comment|
    = simple_format comment.body
    .row.getaway
      = link_to "Edit", edit_discussion_comment_path(@discussion, comment), class: "btn btn-xs btn-info"
      = button_to "Destroy", [@discussion, comment], method: :delete, data: { confirm: "Delete comment?" }, class: "btn btn-danger btn-xs"
    %hr/
  = form_for [@discussion, @comment] do |f|
    = f.text_area :body, class: "form-control"
    = f.submit "Create Comment", class: "btn btn-warning getaway"
