<h1>Projects Index</h1>
<div>
<%= form_tag projects_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>
<%= link_to "Create New Project", new_project_path %>
<br>
<% @projects.each do |project| %>
  <h2><%= link_to project.title, project %></h2>
  <p><%= project.description %></p>
  <p>Due on: <%= project.due_date %></p>
  <br>
  <hr>
<% end %>